.formOrderCar {
    width: 80%;
    margin: auto; 
    height: max-content;
    margin-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.formOrderCar input {
    width: 95%;
    padding: 10px 10px 10px 5px;
    border-color: #5bc2c2;
    font-size: 15px;
    margin: 5px 0px 10px 0px;
    background: #fff;
    border-bottom: 1px solid #222222;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
   
    color: #170c27;
   
}


.formOrderCar select {
    width: 98%;
    padding: 10px 10px 10px 5px;
    color: #555555;
    border-color: #dce0e0;
    font-size: 15px;
    background: #fff;
    border-bottom: 1px solid #222222;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    transition: border-color linear .3s;

    margin-bottom: 10px;
}
.formOrderCar label {
margin-top: 20px;
color: black;
font-size: 13px;
}

.inputButton {
    padding: 13px;
    width: 35%;
    border: 1px solid #222222;
    color: #ffffff;
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}
.inputButton:active {
  color: #000000;
    
}

