
    .hightConteiner {
    width: 100%;
    background: url('../image/transfer2.jpg') 50% no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-attachment: fixed;
        height: 700px;
        position: absolute;
        top: 0px;
        color: white;
        
    }
    .one {
        width: 100%;
        height: 450px;
    }
    .whyUsBoximg {
        width: 30%;
    }
    .whyUsBox {
        height: 200px;
    }

    .hightText {
        font-size: 22px;
        display: block;
        background-color: rgba(0, 0, 0, 0.65);
        width: 44%;
        border-radius: 10px;
        padding: 30px;
        position: relative;
        top: 50%;
        z-index: 3;
        left: 2%;
    }
    .hightText div   {
        display: inline-block;
        padding: 10px 30px 20px  30px;
        border-radius: 10px;
        cursor: pointer;
        margin: auto;
        width: auto;
        text-align: center;
        background-color: rgb(102, 4, 4);
        margin-left: 4%;
    }
    .hightText  a {
        color: white;
        font-size: 37px;
        text-decoration: none;
       

    }
    .mainSortCarConteiner {
        width: 100%;
        color: black;
    }
    .mainSortCarConteiner h1 {
        font-size: 40px ;
        color: white;
        padding: 40px 0px 40px 0px;
        text-align: center;
        margin: auto;
       
    }
    .mainSortCarConteinerFirst {
        font-size: 40px ;
        border-radius: 15px;
        width: 90%;
        color: white;
        padding: 40px 0px 40px 0px;
        text-align: center;
        margin: auto;
        background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        margin-top: 84px;

    }
    .mainSortBox {
        margin-top: 100px;
        margin-bottom: 20px;
        margin-left: 7%;    
        width: 40%;
        display: inline-block;
        height: 170px;
        background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 15px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .mainSortBox img {
        width: 90%;
        height: auto; 
    margin-top: -17%;
    margin-left: 5%;
    }

    .sortBoxText{
        font-size: 35px;
        color: rgb(0, 0, 0);
        text-align: center;

    }

    .mainInfoConteiner, .mainInfoConteinerText {
        margin-top: 2%;
        margin-bottom: 20px;
        margin-left: 7%;    
        width: 87%;
        display: inline-block;
        height: 400px;
        border-radius: 15px;
        cursor: pointer;
    }
    .mainConteinertext {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.65);
        border-radius: 15px 15px 0px 0px ;
    }

    .mainInfoConteinerText {
        margin-top: 100px;
        color: aliceblue;
        background: url('https://c1.wallpaperflare.com/preview/234/770/445/road-trip-roadtrip-explorer-exploring.jpg') 50% no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .mainInfoConteinerText h1 {
        margin: 0px;
        padding: 5px;
    }

    .mainInfoConteinerText h2 {
        padding: 0px 0px 20px 30px;
        text-align: center;
    } 

    .orderConteiner {
        width: 100%;
        height: 800px;
        background: url('https://www.motortread.com/wp-content/uploads/2021/04/2022-Subaru-Outback-Wilderness-Rear-Three-Quarter-Wallpaper-2-1.jpg') 50% no-repeat;
        background-position: center center;
        background-size: cover;
        margin-top: 50px;
    }
    .orderForm {
        text-align: left;
        color: black;
        
        width: 45%;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        height:700px;
        margin: 0px 0px 20px 50px ;
        position: relative;
        top: 7%;
    }

    .orderForm  p {
        font-size: 35px ;
        padding: 10px 0px 0px 40px;
        margin: 0px;
    }

    .whyUsmainConteiner {
        width: 100%;
        height: 450px;
        background: #141E30; 
        background: -webkit-linear-gradient(to right, #b91c11, #a14305); 
        background: linear-gradient(to right, #bb0c0c, #071633); 
    }

    .whyUsmainConteinerbox {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .whyUsmainConteiner h1 {
        font-size: 45px;
        padding-top: 30px;
        text-align: center;
        
    }
    .whyUsBox {
        width: 300px;
        height: 300px;
        display: inline-block;
        margin: 2%;
        text-align: center;
    }

    .whyUstext {
        font-size: 15px;
    }

    .mainInfoTextConteiner {
        color: rgb(0, 0, 0);
        width: 90%;
        margin: auto;
    }

    .mainInfoTextConteiner h1 {
        margin: 0px;
        padding: 30px;
    }
    .mainInfoTextConteiner p {
        text-indent: 20px;
        padding: 5px 0px 5px 0px ;
        line-height: 1.7;
    }
    .lastUstext {
        margin-bottom: 80px;
    }
    .backgraundvideoConteiner {
        text-align: center;
        width: 100%;
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.45);
    
    }
    .hightText h2 {
        margin: 20px;

    }
    .backgraundvideoConteinerBox { 
        width: 90%;
        margin: auto;
        color: #f8f8f8;
        position: absolute;
        left: 5%;
    }

    .navigationTittletext {
        padding: 30px;
    }

    .whyUsmainConteiner h1 {
        margin:  0px 0px 30px 0px;
    }

    .navigationButton   {
        text-align: center;
        padding: 13px;
        width: 170px;
        border: 1px solid #222222;
        color: #ffffff;
        background: #e52d27;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        cursor: pointer;
        border-radius: 4px;
        margin: 40px;  
    }
    .navigationButton  a {
        list-style-type: none;
        text-decoration: none;
        color: white;

    }

    .navigationCallText {
        font-size: 30px;
        text-decoration: none;
        list-style: none;
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        margin: 40px;
    }

    .videomainbg {
        width: 100%;
        height: 100hv;
        z-index: -1;
    
    
    }
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    @media(max-width: 1500px) {
        
        .mainSortBox {
            height: 150px;
        }
    }
    @media(max-width: 1200px) {
    
        .mainSortBox {
            height: 150px;
        }
    }


    @media(max-width: 850px) {
    .orderForm {
        width: 85%;
        margin-left: 8%
    }
    .one {
        width: 100%;
        height: 350px;
    }
    .orderForm p{
    font-size: 25px;
    margin-left: 20px;
    }
    .mainConteinertext h1 {
        font-size: 26px;
    }
    .hightConteiner {
        height: 550px;
    }

    .mainSortBox {
        height: 160px;
    }
    .mainSortCarConteiner h1  {

        margin-bottom: 50px;
    }
    .mainConteinertext h2 {
        font-size: 14px;
        width: 85%;
    }
    .mainSortBox {
        width: 80%;
        margin-left: 10%;
    }

    .hightText {
        width: 70%;
        left: 4%;
        top: 200px;
        font-size: 14px;
    }

    }
    @media(max-width: 560px) {
    
        .mainSortBox {
            height: 150px;
        }
        
        .hightText {
            height: 100px;
            top: 300px;
        }
        .hightText h2 {
            font-size: 14px;
            margin: 10px
        }
        .hightText h3 {
            font-size: 13px;
        }
        
        .topHeaderWorkTime , .whyUstext,.topHeaderTown {
            font-size: 13px;
        }
        .topHeaderConteiner {
            height: 40px;
        }
        .whyUsmainConteiner {
            height: 500px; 
        }
        .navigationTittletext, .navigationCallText {
            padding: 0px;
            font-size: 15px;
        }
        .navigationCallText {
            margin: 0px;
        }
    }