.topHeaderConteiner {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    font-size: 15px;
    height: 60px;
    z-index: 10;
    color: white;
}
.infoMenu p { 
    font-size: 17px;
    margin-left: 15%;
    color: white;

}
.topHeaderTown {
    width: 24%;
    text-align: center;
    margin: 0px;
}

.topHeaderMobNumber, .topHeaderWorkTime {
    width: auto;
}
.topHeaderWorkTime {
    width: auto;
    text-align: left;
}
.topHeaderConteiner a  {
    list-style: none; 
    text-decoration: none; 
    font-size: 18px;
}
.topHeaderWorkTime img {
  position: relative;
  top: 2px;
  padding-right: 10px;
}
.topHeaderTown img {
    position: relative;
    top: 2px;
    padding-right: 10px;
}
.topHeaderMobNumber img {
    position: relative;
    top: 2px;
    padding-right: 10px;
  }
.topHeaderlinkFB,
.topHeaderlinkInst {
    width:auto;
    float: right;
    margin-right:1%;
   
    
}
.topHeaderlinkFB a {
    color: white;
    list-style-type: none;
    text-decoration: none;
   font-size: 30px;
}
.topHeaderMenu, .topHeaderlinkInst, .topHeaderlinkFB, .topHeaderWorkTime, .topHeaderMobNumber{
    display: inline-block;
}
.topHeaderConteiner span {
    padding: 1%;
    
}
.topHeaderMenu {
    width: auto;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    margin-left: 3%;
}

.mainLogoConteiner {
    width: 100%;
    text-align: left;
    z-index: 3;
    position: absolute;
    height: 80px;
    margin-top: 50px;
}
.mainLogoConteiner a {
    text-decoration: none;
    color: rgb(3, 0, 0);
    font-weight: 500;
}

.headerMenu img {
  width: 230px;
  display: none;
  
}
.headerMenu {
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 5%;
    margin-right: 10px;
    cursor: pointer;
    font-size: 60px;
    z-index: -12;
}

.callConteiner  {
  display: inline-block;
  position:fixed;
  top: 80%;
  right:50px;
  z-index: 155;

}





.mainLogoConteiner {
    display: block;

    
}
.menuNavigations {
    z-index: 80;
    position: fixed;
    top: 0px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(13px);
    height: 100%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 101;
    top: 0px;
    left: 0;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow: hidden;
    
  }
  
  .sidenav a {
    padding: 8px 8px 8px 60px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }





.pulse {
    height: 70px;
    width: 70px;
    background-color: rgba(243, 243, 243, 0.4);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    cursor: pointer;
    right: 50px;
    bottom: 50px;
}

.pulse::before {
    content: "";
    position: absolute;
    border: 2px solid rgb(10, 10, 10);
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 50%;
    animation: pulse 1s linear infinite
}

.pulse::after {
    content: "";
    position: absolute;
    border: 2px solid rgb(2, 2, 2);
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-radius: 50%;
    animation: pulse 1s linear infinite;
    animation-delay: 0.3s
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0
    }

    50% {
        transform: scale(1);
        opacity: 1
    }

    100% {
        transform: scale(1.3);
        opacity: 0
    }
}

@media(max-width: 1000px) {
    .topHeaderMobNumber {
        display:none;  
        
      }
}

@media(max-width: 700px) {
    
      .topHeaderlinkInst,.topHeaderlinkFB {
          display: none;
      }
      .topHeaderlinkFB {
          text-align: center;
          width: 20%;
      }
      .topHeaderTown {
          text-align: center;
        
      }
      .topHeaderWorkTime {
        text-align: center;
      }
}